<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Account Verification</title>
  <style>
    /* Global Styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      padding: 20px;
    }
    h1 {
      text-align: center;
      color: #333;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      color: #666;
      margin-bottom: 20px;
    }
    a {
      color: #0066cc;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    /* Container Styles */
    .container {
      max-width: 600px;
      height: 100%;
      margin: 40px auto;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .center {
      color: #FFDD40
    }

    /* Button Styles */
    .btn {
      background-color: #1F2937;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
    }
    .btn:hover {
      background-color: #45556b;
    }
  </style>
</head>
<body style="height: 80vh;">
  <div class="container" style="display: flex; flex-direction: column; justify-content: space-between;">
    <div style="background-color: #1F2937; height: 6rem; display: flex;"> <h1 style=" color: white; margin: auto;">Welcome to <span class="event">Event<span/><span class="center">Center<span/>!</h1></div>
   
    
    <div>
        <p style="text-align: center;">Hello <%= userName %>,</p>
        <p style="margin: 3rem auto; text-align: center;">
            Your account has been created on our platform. To activate your account,
            please click on the button below to get you started:
          </p> <p class="link" style="text-align: center; margin: 3rem auto;"><a style="text-decoration: none; padding: 1rem; font-weight: 700;" href="<%= verificationLink %>" class="btn">Confirm Your Account</a></p> <p>If you did not register on our platform, please disregard this email.</p>
          <p style="font-weight: 600;">Best regards,<br>Event<span style="color: #FFDD40;">Center</span> Team</p>
          <p>If you also wish to know more about us you can visit our page <a href="https://event-planner-fawn-xi.vercel.app/about-us">EventCenter</a></p>
    </div>
    
    <div style="background-color: #1F2937; height: 15vh;">
        <h4 style="text-align: center; color: white; border-bottom: 2px solid #ddd; padding-bottom: 10px;">Get in touch with us</h4>
        <div style="display: flex; flex-direction: row; gap: 1rem; align-items: center; justify-content: center;">
            <a  href="https://twitter.com/yourusername" target="_blank">
              <img style="height: 2rem; width: 2rem;" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" />
            </a>
            <a href="https://wa.me/+233549671479" target="_blank">
              <img style="height: 2rem; width: 2rem;" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" />
            </a>
          </div>
    </div>
  </a<>
</body>
</html>